@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Bebas Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

/* Navbar css */
.navbar {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.097);
  color: #fff;
  position: sticky;
  z-index: 990;
  top: 0;
  background-color: white;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.nav-item {
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  position: relative;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1.5px;
  bottom: -5px;
  left: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item.nav-active::after {
  width: 100%;
}

.ham-menu {
  color: black;
  font-size: 25px;
}

.ham-menu-wrapper {
  display: none;
}

.login-cart-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: auto;
}

.log-icon {
  cursor: pointer;
  color: black;
  font-size: 38px;
  padding: 7px;
  border-radius: 100px;
  background-color: rgba(209, 209, 209, 0.301);
  transition: all 0.2s ease-in;
}



.auth-popover {
  width: 108px;
  margin-top: 4px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.auth-popover-menu {
  display: flex;
  flex-direction: column;
}

.auth-popover-menu a,
.auth-popover-menu .btn {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  transition: color 0.2s;
  padding: 10px;
  border-radius: 8px;
}

.auth-popover-menu a:hover,
.auth-popover-menu .btn:hover {
  background-color: rgba(137, 137, 137, 0.21);
}

.log-reg-op {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-wrapper {
  position: relative;
}

.cart-icon {
  font-size: 40px;
  color: black;
  padding: 7px;
  border-radius: 100px;
  background-color: rgb(244, 243, 243);
}

.cart-len {
  position: absolute;
  top: -7px;
  right: -8px;
  font-size: 10px;
  background-color: rgb(0, 0, 0);
  padding: 3px 6px;
  border-radius: 100%;
}


.log-icon:hover,
.cart-icon:hover {
  background-color: rgba(231, 229, 229, 0.782);
  border: 1px solid rgba(128, 128, 128, 0.271);

}

/* Login */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.cross-icon {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 20px;
  height: 20px;
  opacity: 50%;
  cursor: pointer;
}

.login-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-header {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  color: rgba(0, 0, 0, 0.601);
  margin-bottom: 8px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-group label {
  margin-bottom: 6px;
  font-weight: 500;
}

.input-group input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}

.input-group input:focus {
  border: 1px solid black;
}

.pass-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pass-span a {
  cursor: pointer;
  font-size: 12px;
}

.pass-span a:hover {
  text-decoration: underline;
}

.error {
  font-size: 12px;
  padding-left: 4px;
  color: red;
}

.error-input {
  border: 1px solid #ef4444 !important;
  outline: none;
  background-color: #fef2f2;
}

.error-input:focus {
  border-color: #dc2626;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.15);
}

.login-container button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #000000;
  color: white;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.login-container button:hover {
  border: 1px solid black;
  color: #000000;
  background: #ffffff;
}

.social-log {
  display: flex;
  align-items: center;
}

.separator {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
  color: #000000af;
}

.separator hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #00000033;
}

.separator span {
  white-space: nowrap;
}

.direct-login {
  display: flex;
  gap: 8px;
}

.direct-login button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.direct-login button:hover {
  background-color: rgba(0, 0, 0, 0.112);
}

.register-text {
  margin-top: 24px;
  text-align: center;
}

.register-text a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-text a:hover {
  text-decoration: underline;
}

/* Home css */

.home-main-container {
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.home-heading {
  font-family: var(--secondary-font);
  line-height: 1.1;
  font-size: 100px;
  color: #ffffff;
  position: absolute;
  top: 2%;
  left: 2%;
}

.home-subheading {
  font-family: var(--secondary-font);
  text-align: right;
  line-height: 1.5;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.new-arrivals-section,
.explore-section {
  max-width: 1350px;
  margin: 20px auto;
}

.new-arrivals-title,
.explore-title {
  font-family: var(--secondary-font);
  font-size: 100px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 20px;
}

.explore-container1 {
  width: 100%;
  display: grid;
  grid-template-rows: 450px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.explore-container2 {
  display: flex;
  height: 450px;
  gap: 10px;
}

.explore-container2 .explore-card {
  flex: 1;
  height: 100%;
}

.explore-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.explore-card:hover img {
  transform: scale(1.06);
  filter: brightness(1);
}

.explore-card img {
  width: 100%;
  height: 100%;
  display: block;
  filter: brightness(0.8);
  object-fit: cover;
  transition: all 0.3s ease;
}

.explore-card .title {
  font-family: var(--secondary-font);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 3px 7px;
  border-radius: 50px;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  transition: all 0.3s ease-in;
}

/* Product container css */

.product-container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  width: 450px;
  height: 450px;
  border: 1px solid #cccccc67;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.product-card:hover {
  background-color: #00000010;
}

.product-card:hover .product-img {
  transform: translateY(-5px);
}

.product-img {
  width: 75%;
  max-height: 300px;
  object-fit: contain;
  align-self: center;
  transition: all 0.4s ease-out;
}

.product-name {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 22px;
  padding: 15px 10px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 10px;
}

/* Shop css */

.shop-navbar {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.shop-nav {
  padding: 40px 10px;
  display: flex;
  gap: 20px;
}

.shop-nav-item {
  font-size: 15px;
  font-weight: 500;
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.207);
  border-radius: 100px;
  transition: all 0.3s ease;
}

.shop-nav-item:hover:not(.shop-nav-active) {
  background-color: rgb(237, 235, 235);
}

.shop-nav-active {
  color: white;
  background-color: black;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.444);
  position: absolute;
  top: 42%;
  left: 6px;
}

.search-input {
  width: 300px;
  font-size: 15px;
  color: black;
  padding: 6px 6px 6px 28px;
  background-color: #0000000b;
  border: 1px solid rgba(0, 0, 0, 0.141);
  border-radius: 10px;
  outline: none;
}

.bike-container,
.parts-container {
  margin-bottom: 100px;
}

.error-message {
  padding: 40px 0;
}

/* Product Details css */
.product-details-container {
  max-width: 1350px;
  height: 600px;
  overflow: hidden;
  object-fit: fill;
  margin: 75px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.product-details-container img {
  width: 50%;
  height: auto;
  background-color: rgba(237, 237, 237, 0.711);
  padding: 100px 40px;
}

.p-info {
  width: 40%;
  padding: 45px;
}

.p-name {
  font-family: var(--secondary-font);
  font-size: 35px;
}

.p-price {
  font-size: 20px;
  font-weight: 500;
  padding: 30px 0;
}

.og-price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.318);
}

.size-container {
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
}

.size-container li {
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 219, 219);
  border-radius: 100%;
}

.active-size {
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.218);
}

.disabled-size {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.size-container li:hover {
  background-color: rgb(192, 191, 191);
}

.des-tag {
  padding-top: 30px;
  font-family: var(--secondary-font);
  font-size: 30px;
  font-weight: 500;
}

.des {
  font-size: 17px;
  padding: 30px 0;
}

.btns-qntity {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 35px;
}

.qnt-dis {
  opacity: 40%;
  cursor: not-allowed;
}

.atc-btn {
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.84);
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.atc-btn:active {
  opacity: 0.8;
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.rfc-btn {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0.788);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.rfc-btn:active {
  opacity: 0.8;
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: black;
}

/* About Us css */
.about-body {
  max-width: 1350px;
  margin: 0 auto;
}

.about-main-container {
  position: relative;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.about-heading {
  font-family: var(--secondary-font);
  line-height: 1.1;
  font-size: 100px;
  color: #ffffff;
  position: absolute;
  top: 2%;
  left: 2%;
}

.about-txt {
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1.5;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.history-section {
  margin: 40px 0 100px 0;
}

.history-title {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 100px;
  color: #000000;
}

.history-paragraph {
  font-size: 20px;
}

/* Contact css */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 90%;
  margin: 150px auto;
  padding: 0 25px;
}

.info-list {
  width: 40%;
  padding-top: 20px;
}

.contact-title {
  font-family: var(--secondary-font);
  color: rgba(0, 0, 0, 0.864);
  font-weight: 500;
  line-height: 1.1;
  font-size: 80px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.068);
}

.info {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 20px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.068);
  cursor: pointer;
  transition: all 0.3s ease;
}

.info:hover {
  transform: translateX(10px);
}

.icon {
  font-size: 25px;
}

.info-details h2 {
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
  color: #999;
  margin-bottom: 5px;
}

.info-details p {
  font-size: 18px;
  font-weight: 500;
}

.contact-form {
  width: 50%;
  border: 2px solid rgba(0, 0, 0, 0.127);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 40px;
}

.contact-form legend {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0 10px;
  letter-spacing: 1px;
}

.form-input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 2px solid rgba(0, 0, 0, 0.127);
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s;
}

.form-input:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.134);
  background-color: rgba(128, 128, 128, 0.062);

}

.form-input::placeholder {
  opacity: 80%;
}

textarea.form-input {
  resize: none;
}

.form-footer {
  text-align: right;
}

.contact-form button {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.127);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background-color: rgba(192, 191, 191, 0.166);
  transform: translatey(2px);
}

/* cart css */
.cart-container {
  max-width: 1350px;
  margin: 0 auto;
}

.cart-header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header h2 {
  font-size: 70px;
  font-weight: 500;
  font-family: var(--secondary-font);
}

.cart-item {
  position: relative;
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.133);
}

.remove-btn {
  color: rgba(0, 0, 0, 0.874);
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.item-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-info img {
  width: 350px;
  height: auto;
  padding: 10px 30px;
}

.item-detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-detail h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.item-detail p {
  font-size: 17px;
  font-weight: 500;
}

.item-price {
  font-size: 15px;
  font-weight: 500;
}

.q-value {
  width: 60px;
  height: 48px;
  padding: 8px;
  border: 1px solid rgb(106, 106, 106);
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.858);
}

.total-price {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 30px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.137);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price h3 {
  font-family: var(--secondary-font);
  font-size: 30px;
}

.checkOut-btn {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.914);
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: black;
  cursor: pointer;
  transition: all 0.1s ease;
}

.checkOut-btn:hover {
  transform: scale(1.02);
}

.checkOut-btn:active {
  transform: scale(0.9);
}

.empty-cart {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 150px 0;
  gap: 20px;
}

.null-item-case {
  font-size: 15px;
  font-weight: 500;
  margin: auto 0;
}

.return {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.return:hover {
  text-decoration: underline;
}

/* sign up container css  */
.signup-container {
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 255, 0.74);
}

.signup-content {
  max-width: 1350px;
  margin: 100px auto 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-content p {
  font-size: 25px;
  letter-spacing: 1px;
  font-family: var(--secondary-font);
}

.signup-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid white;
  border-radius: 5px;
}

.email-input {
  width: 70%;
  font-family: var(--secondary-font);
  border: none;
  background-color: transparent;
  color: white;
  font-size: 60px;
  outline: none;
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.598);
  font-family: var(--secondary-font);
}

.signup-btn {
  color: white;
  font-family: var(--secondary-font);
  font-size: 60px;
  background: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.signup-btn:hover {
  transform: translateY(5px);
}

/* Footer css */

.footer-body {
  color: white;
  background-color: black;
}

.footer-content {
  max-width: 1350px;
  margin: 0 auto;
}

.footer-nav {
  display: grid;
  padding: 0px 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-nav-1 {
  padding: 80px 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.192);
}

.footer-nav-item {
  border-right: 1px solid rgba(255, 255, 255, 0.192);
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-link {
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  transition: all 0.4s ease;
}

.footer-nav-link:hover {
  opacity: 1;
}

.footer-large-text {
  font-family: Bebas Neue, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.footer-heading-small {
  font-family: Bebas Neue, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.footer-small-text {
  font-size: 15px;
  padding: 5px 0;
}

.footer-nav-social {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

.footer-nav-social a {
  padding: 80px 30px;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.footer-nav-social a:hover {
  color: white;
}

.fb-icon {
  border-right: 1px solid rgba(255, 255, 255, 0.192);
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  color: blue;

}

.insta-icon {
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  color: rgb(255, 32, 106);
}

.yt-icon {
  border-left: 1px solid rgba(255, 255, 255, 0.192);
  color: red;
}

.footer-legal {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.192);
}

.footer-legal-links {
  display: flex;
  gap: 20px;
}

.footer-legal-links p {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.footer-legal-links p:hover {
  opacity: 1;
}

/* PageNotFound css */

.pnf-body {
  max-width: 1350px;
  margin: 0 auto;
  text-align: center;
}

.pnf {
  margin: 100px 0;
}

.pnf-head {
  font-size: 35px;
  margin-bottom: 10px;

}

.home-btn {
  font-size: 15px;
}

.home-btn:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 1360px) {

  /* Home page */

  .navbar {
    padding: 10px 20px;
  }

  .home-main-container {
    padding: 0 6%;
  }

  .home-heading {
    font-size: 80px;
    left: 3%;
  }

  .new-arrivals-title,
  .explore-title {
    font-size: 80px;
  }

  .new-arrivals-section,
  .explore-section {
    padding: 0 20px;
  }

  .explore-container1 {
    grid-template-rows: 400px;
  }

  .explore-container2 {
    height: 420px;
  }

  .signup-content {
    padding: 50px 20px;
  }

  /* shop page */
  .shop-nav {
    padding: 40px 20px;
  }

  .product-container {
    padding: 0 20px;
  }

  .home-product-container {
    padding: 0;
  }

  /* About Us page */

  .about-main-container {
    padding: 0 6%;
  }

  .about-heading {
    font-size: 90px;
    left: 3%;
  }

  .about-txt {
    font-size: 25px;
    right: 3%;
  }

  .history-section {
    padding: 0 20px;
  }

  .history-title {
    font-size: 90px;
  }

}

@media (max-width: 1024px) {

  .search-box {
    margin: 40px 20px;
  }

  .search-icon {
    top: 28%;
  }

  .home-subheading {
    left: 3%;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-res {
    padding: 15px 0;
    text-align: center;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    border-top: 1px solid rgba(224, 224, 224, 0.507);
    box-shadow: 0px 5px 5px rgba(107, 107, 107, 0.095);
  }

  .nav-menu-res li {
    padding: 8px 0;
  }

  .ham-menu-wrapper {
    display: block;
  }

  .product-card {
    max-width: 50%;
  }

  .explore-container1 {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {



  .home-main-container {
    height: 50vh;
  }

  .new-arrivals-title,
  .explore-title {
    font-size: 50px;
  }

  .product-card {
    width: 400px;
    height: 400px;
  }

  .product-img {
    width: 75%;
    max-height: 250px;
  }

  .product-details-container {
    flex-direction: column;
    height: auto;
  }

  .product-details-container img {
    width: 90%;
  }

  .p-info {
    width: 100%;
  }

  .product-details-container {
    margin: 20px auto
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .info-list,
  .contact-form {
    width: 100%;
  }

  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-nav-1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  }

  .footer-nav-item-1 {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  }

  .footer-legal p {
    font-size: 15px;
  }
}

@media (max-width: 500px) {

  .shop-navbar {
    flex-direction: column;
    align-items: center;
  }

  .shop-nav {
    padding: 30px 10px;
  }

  .search-box {
    margin: 0 20px 40px 20px;
  }

  .search-icon {
    top: 28%;
  }

  .home-heading {
    font-size: 50px;
  }

  .home-subheading {
    font-size: 20px;
  }

  .new-arrivals-title,
  .explore-title {
    font-size: 40px;
  }

  .product-card {
    max-width: 90%;
    height: 400px;
  }

  .explore-container1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .explore-container2 {
    flex-direction: column;
    height: auto;
  }

  .signup-content {
    padding: 30px 20px;
  }

  .signup-content p {
    font-size: 15px;
  }

  .email-input,
  .signup-btn {
    font-size: 40px;
  }

  .footer-nav {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-nav-1 {
    border-right: none;
    padding: 40px 30px;
  }

  .footer-nav-item {
    padding: 40px 30px;
  }

  .footer-nav-item-2 {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  }

  .footer-legal p {
    font-size: 10px;
  }
}